
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.lp{
    gap: 30px;
}
.inputform {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#displayContainer{
  border:  2px solid gray;

}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#displayContainer {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .display-box {
        padding: 5px;
        font-size: 14px;
    }
    .delete-button, .save-fine-button {
        padding: 3px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .display-box {
        padding: 3px;
        font-size: 12px;
    }
    .delete-button, .save-fine-button {
        padding: 2px;
        font-size: 10px;
    }
    .inputform {
        font-size: 14px;
    }
}